name: Integration

on:
  workflow_run:
    workflows:
      - Core
    branches:
      - main-test
    types:
      - requested
  pull_request:
    types:
      - labeled

defaults:
  run:
    shell: bash

jobs:
  check-skip:
    name: Check if integration tests should run
    # NOTE: the name of the special label is hardcoded here
    # it would be better to extract it to a more global location, e.g. the workflow-level env context,
    # but the env context is not available in job-level if expressions (only step-level ones)
    if: (github.event.action != 'labeled') || (github.event.label.name == 'CI:run-integration')
    runs-on: ubuntu-latest
    steps:
      - name: Notify
        run: echo "The integration tests will run"
  pytest:
    name: Tests (py${{ matrix.python-version }}/${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: [check-skip]
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.7'
          - '3.8'
        os:
          - ubuntu-18.04
          - windows-latest
    steps:
      - name: Display debug info
        run: |
          echo '${{ toJSON(matrix) }}'
          echo '${{ toJSON(github.event) }}'
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up idaes
        uses: ./.github/actions/setup-idaes
        with:
          install-target: '.'
      - name: Run pytest (integration)
        uses: ./.github/actions/pytest
        with:
          markexpr: integration
  examples:
    name: Run examples (py${{ matrix.python-version }}/${{ matrix.os }})
    needs: [check-skip]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.7'
        os:
          - ubuntu-18.04
    steps:
      - name: Display debug info
        run: |
          echo '${{ toJSON(matrix) }}'
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up idaes
        uses: ./.github/actions/setup-idaes
        with:
          install-target: -r requirements-dev.txt
      - name: Fetch examples repository
        working-directory: /tmp
        run:
          git clone https://github.com/IDAES/examples-pse.git
      # QUESTION: would it make sense to split this into separate steps
      # e.g. run notebooks, build
      - name: Run examples in test mode
        working-directory: /tmp/examples-pse
        run: |
          cat >./adhoc.yml <<EOL
          paths:
            source: src
            output: docs_test
            html: _build/html
          notebook:
              num_workers: 1
              continue_on_error: true
              test_mode: true
              timeout: 300
              error_file: ci-test-errors.txt
              template: docs/jupyter_notebook_sphinx.tpl
              directories:
                - source: Examples/Advanced/CustomUnitModels
                - source: Examples/Advanced/DataRecon
                - source: Examples/MatOpt
                - source: Examples/SurrMod/ALAMO
                - source: Examples/SurrMod/Helmet
                - source: Examples/SurrMod/PySMO
                - source: Examples/Tools
                - source: Examples/UnitModels
                - source: Tutorials/Advanced/ParamEst
                - source: Tutorials/Basics
          notebook_index:
            input_file: notebook_index.yml
            output_file: src/notebook_index.ipynb
          sphinx:
              args: "-b html -T docs_test docs_test/_build/html"
              error_file: sphinx-errors.txt
          EOL
          python build.py -v --test --config ./adhoc.yml
      - name: Save run artifacts
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          path: /tmp/examples-pse/*-errors.txt
          if-no-files-found: warn
