on:
  pull_request_target:
    types: [labeled]

jobs:
  remove-util-label:
    if: contains(github.event.label.name, 'CI:')
    runs-on: ubuntu-latest
    steps:
      - name: Wait a bit
        run: sleep 30
      - name: Display debug info
        run: echo '${{ toJSON(github.event) }}'
      - name: Remove CI util label
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.IDAES_BUILD_TOKEN }}
          script: |
            github.issues.removeLabel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              label: context.payload.label.name
            })
         