name: Try actions/github-script

on:
  workflow_dispatch:

jobs:
  assign-approved-label:
    name: Assign approved label
    runs-on: ubuntu-latest
    steps:
      - name: Log debug info
        run: cat $GITHUB_EVENT_PATH | jq -M .
      - uses: actions/checkout@v2
      - uses: actions/github-script@master
        with:
          github-token: ${{ secrets.GHA_TOKEN }}
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/.github/workflows/reviewState.js`);
            await script({
              github: github,
              context: context,
              minCountApproved: 2,
              approvedLabelName: "ci:review-approved",
              number: 1,
            });
